In [26]:
import pandas as pd

In [27]:
#import data
headlines_annotated = pd.read_csv("./data/headlines_annotated.tsv", sep="\t")

In [28]:
#select only relevant columns
headlines_annotated = headlines_annotated[['headline', 'dominant_emotion']]

In [29]:
headlines_annotated

,headline,dominant_emotion
0,Cops in One Village Have Been Convicted of 70 ...,anger
1,DIY penis enlargements are a 'nationwide probl...,negative_surprise
2,Dam breaking: New Epstein accuser comes forward,anger
3,David Beckham gets six-month driving ban for u...,negative_surprise
4,Dead sea turtle found with spear through head ...,sadness
...,...,...
4995,‘NOW do abortion. We’ll wait.’ Ilhan Omar doub...,negative_surprise
4996,‘Triad’ Thugs Use Clubs to Punish Hong Kong’s ...,negative_surprise
4997,'For real': High school football season begins...,positive_anticipation_including_optimism
4998,100 years on: the picture that changed our vie...,positive_surprise
4999,Couple infuriate officials by landing their he...,anger

In [30]:
headlines_annotated["dominant_emotion"].value_counts()

dominant_emotion
negative_surprise                            893
positive_surprise                            582
anger                                        460
annoyance                                    426
fear                                         419
sadness                                      386
disgust                                      382
negative_anticipation_including_pessimism    323
positive_anticipation_including_optimism     319
joy                                          264
guilt                                        175
trust                                        124
shame                                        119
pride                                         65
love_including_like                           63
Name: count, dtype: int64

In [31]:
#replace emotions with optimism and pessimism

replace_with_optimisim = ["positive_surprise", "positive_anticipation_including_optimism", "joy", 
                          "trust", "pride", "love_including_like"]

replace_with_pessimism = ["negative_surprise", "negative_anticipation_including_pessimism", "fear",
                          "anger", "annoyance", "sadness", "disgust", "guilt", "shame"]

optimism_dict = {k: "optimism" for k in replace_with_optimisim}

pessimism_dict = {k: "pessimism" for k in replace_with_pessimism}

headlines_annotated["dominant_emotion"] = headlines_annotated["dominant_emotion"].replace(optimism_dict)
headlines_annotated["dominant_emotion"] = headlines_annotated["dominant_emotion"].replace(pessimism_dict)

headlines_annotated["dominant_emotion"].value_counts()

dominant_emotion
pessimism    3583
optimism     1417
Name: count, dtype: int64

In [32]:
#convert to binary classification
headlines_annotated["dominant_emotion"] = headlines_annotated["dominant_emotion"].replace({"optimism": 1, "pessimism": 0})

/tmp/ipykernel_4243/3397849361.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  headlines_annotated["dominant_emotion"] = headlines_annotated["dominant_emotion"].replace({"optimism": 1, "pessimism": 0})

In [33]:
headlines_annotated

                                               headline  dominant_emotion
0     Cops in One Village Have Been Convicted of 70 ...                 0
1     DIY penis enlargements are a 'nationwide probl...                 0
2       Dam breaking: New Epstein accuser comes forward                 0
3     David Beckham gets six-month driving ban for u...                 0
4     Dead sea turtle found with spear through head ...                 0
...                                                 ...               ...
4995  ‘NOW do abortion. We’ll wait.’ Ilhan Omar doub...                 0
4996  ‘Triad’ Thugs Use Clubs to Punish Hong Kong’s ...                 0
4997  'For real': High school football season begins...                 1
4998  100 years on: the picture that changed our vie...                 1
4999  Couple infuriate officials by landing their he...                 0

[5000 rows x 2 columns]